*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #937DC2;
    color: #393E46 ;
}
#header{
    width: 100%;
    height: 90vh;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;    
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    cursor: grab;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    cursor: pointer;
}
.header-text h1 span{
    color:#DEFFFA  ;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 78px;
    margin-right: 15px;
    color: #393E46;
    display: inline-block;
    transition: transform 0.5s;
    cursor: pointer;
}
.social-icons a:hover{
    color:#FFDAF5 ;    
    transform: translateY(-20px);
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-weight: 300;
    margin-top: 80px;
}
.copyright p{
    color: #393E46;
}
@media only screen and (max-width: 600px){
    #header{
        width: 100%;
        height: 70vh;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 35px;
        margin-top: 6px;
    }
    .header-text h2{
        font-size: 40px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    .social-icons{
        margin-top: 15px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 45px;
        margin-right: 15px;
        color: #393E46;
        display: inline-block;
        transition: transform 0.5s;
        cursor: pointer;
    }
    .social-icons a:hover{
        color:#FFDAF5 ;    
        transform: translateX(-5px);
    }
    .copyright{
        font-size: 14px;
    }
}